/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



html{
	height: 100%;
}

body{ 
    background: url(/assets/cream_dust.png) repeat 0 0;
    height: 100%; 
    margin: 0;
    padding: 0;
}

h1 { 
    text-shadow: 1px 1px 1px #ccc;
}

footer{
	margin-bottom: 10px;
	margin-top: 20px;
}

.carousel-inner{
  width:100%;
  max-height: 645px !important;
}

.welcome-image{
	margin-top: -100px;
	width: 100%;
}

img {
display: inline-block;
height: auto;
max-width: 100%;
}

.text-welcome{
	margin-bottom: 20%;
}

/*screen-xs*/
@media (max-width: 768px) { 
  .text-welcome{margin-bottom: 0px;}
  .text-welcome > h1{font-size: 20px;}
}
/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) { 
  .text-welcome{margin-bottom: 8%;}
  .text-welcome > h1{font-size: 30px;}
  .text-welcome > p{font-size: 14px;}
}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) { 
  .text-welcome{margin-bottom: 15%;}
}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {  
  .text-welcome{margin-bottom: 20%;}
}

.container{
	text-align: center;
}

.jumbotron{
	text-align: center;
}

.lead{
	padding-left: 50px;
	padding-right: 50px;
	font-weight: lighter;
}

.photo-container{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 25px;
}

.title{
	font-weight: bold;
	font-size: 18px;
}

.panel-success{
	margin-right: 140px;
	margin-left: 100px;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.clickable {
    cursor: pointer;
}

.photo-container {
    margin: 15px 0;
    overflow: hidden;
}

.photo-container:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: rotate scale(1.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}    

.photo-large-container{
	margin-top: 25px;
	margin-bottom: 15px;
}

.large-image{
	border-radius: 25px;
}

.photo-original{
	width: 80%;
}

#mapa_div{
	height: 80%;
	width: 85%;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;

	border-radius: 16px 16px;
	border-color: #fff;
	border-style: solid;
	box-shadow: 2px 2px 10px #B1B1B1;
	border-width: 7px;
}

.mapa_single{
	height: 80%;
	width: 40em;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;

	border-radius: 16px 16px;
	border-color: #fff;
	border-style: solid;
	box-shadow: 2px 2px 10px #B1B1B1;
	border-width: 7px;
}
