/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



html{
	height: 100%;
}

body{ 
    background: url(/assets/cream_dust.png) repeat 0 0;
    height: 100%; 
    margin: 0;
    padding: 0;
}

h1 { 
    text-shadow: 1px 1px 1px #ccc;
}

h2 {
	text-align: center;
}

footer{
	margin-bottom: 10px;
	margin-top: 20px;
}

.carousel-inner{
  width:100%;
  max-height: 645px !important;
}

.welcome-image{
	margin-top: -100px;
	width: 100%;
}

img {
display: inline-block;
height: auto;
max-width: 100%;
}

.text-welcome{
	margin-bottom: 20%;
}

/*screen-xs*/
@media (max-width: 768px) { 
  .text-welcome{margin-bottom: 0px;}
  .text-welcome > h1{font-size: 20px;}
  .well>.btn-lg.btn{width: 40%;}
  .title{text-align: center;}
  .container-buttoms>.btn{width: 40%;}
  .individual-buttom{text-align: center;}
  .lead{text-align: center; margin-left: 10%; margin-right: 10%;}
  .jumbotron>h1{text-align: center;}
}
/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) { 
  .text-welcome{margin-bottom: 8%;}
  .text-welcome > h1{font-size: 30px;}
  .text-welcome > p{font-size: 14px;}
  .well>.btn-lg.btn{width: 20%;}
  .title{text-align: center;}
  .container-buttoms>.btn{width: 40%;}
  .individual-buttom{text-align: center;}
  .lead{text-align: center; margin-left: 10%; margin-right: 10%;}
  .jumbotron>h1{text-align: center;}
}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) { 
  .text-welcome{margin-bottom: 15%;}
  .well>.btn-lg.btn{width: 15%;}
  .title{margin-left: 48px;}
  .container-buttoms>.btn{width: 20%;}
  .individual-buttom{text-align: left;margin-left:50px;}
  .container-original{margin-left: 57px;}
  .lead{margin-left: 80px; margin-right: 53%; font-weight: lighter;}
  .jumbotron>h1{margin-left:80px;}
}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {  
  .text-welcome{margin-bottom: 20%;}
  .well>.btn-lg.btn{width: 15%;}
  .title{margin-left: 48px;}
  .container-buttoms>.btn{width: 20%;}
  .individual-buttom{text-align: left;margin-left:50px;}
  .container-original{margin-left: 57px;}
  .lead{margin-left: 80px; margin-right: 53%; font-weight: lighter;}
  .jumbotron>h1{margin-left:80px;}
}

.container{
	text-align: center;
}

.new-session{
	margin-top: 30px;
}

.photo-container{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 25px;
	margin: 15px 0;
    overflow: hidden;
}

.title{
	font-weight: bold;
	margin-top: 40px;
}

.title-original{
	font-weight: bold;
	margin-top: 40px;
}

.panel-success{
	margin-right: 140px;
	margin-left: 100px;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.clickable {
    cursor: pointer;
}

.photo-container:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: rotate scale(1.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}    

.photo-large-container{
	margin-top: 25px;
	margin-bottom: 15px;
}

.photo-large-container:hover{
	-webkit-filter: sepia(50%);
}

.large-image{
	border-radius: 25px;
}

.container-buttoms{
	margin-top: 15px;
}

.individual-buttom>.btn{
	width: 150px;
}

.photo-original{
	width: 80%;
}

.container-photo-original{
	margin-top: 20px;
}

.photo-original:hover{
	cursor:-webkit-zoom-in;
}
	
#mapa_div{
	height: 60%;
	width: 83%;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;

	border-radius: 16px 16px;
	border-color: #fff;
	border-style: solid;
	box-shadow: 2px 2px 10px #B1B1B1;
	border-width: 7px;
}

.mapa_single{
	height: 93%;

	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;

	border-radius: 16px 16px;
	border-color: #fff;
	border-style: solid;
	box-shadow: 2px 2px 10px #B1B1B1;
	border-width: 7px;
}

.alert{
	margin-top: 11px;
	margin-bottom: -7px;
	text-align: center;
}

.shadow{
	text-shadow: 1px  #333;
	font-weight: bold;
}

.btn-circle {
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.well>.btn-lg.btn{
	margin-left: 5px;
	text-align: center;
}

.btn-like{
	cursor: pointer;
}

.panel-effects{
	margin-top: 20px;
}

.well{
	margin-top: 25px;
}

.gray{-webkit-filter: grayscale(100%);}
.saturate{-webkit-filter: saturate(3);}
.contrast{-webkit-filter: contrast(160%);}
.blur{-webkit-filter: blur(3px);}
.invert{-webkit-filter: invert(100%);}
.rotate{-webkit-filter: hue-rotate(180deg);}

.custom-alert{
	position: fixed;
	z-index: 2;
	margin-top: 50px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

#image{
	margin-top: 30px;
}

