
<center>
<div class="container">
    <div class="well well-md text-center col-md-12">
        <div class="btn-group col-md-12" id="search-in-map" data-toggle="buttons">
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Monument" />
                <span class="glyphicon glyphicon-camera"></span>
                <p>Monument</p>
            </label>
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Natural" />
                <span class="glyphicon glyphicon-tree-deciduous"></span>
                <p>Natural</p>
            </label>
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Art"/>
                <span class="glyphicon glyphicon-blackboard"></span>
                <p>Art</p>
            </label>
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Entertainment"/>
                <span class="glyphicon glyphicon-glass"></span>
                <p>Entertainment</p>
            </label>
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Landscape"/>
                <span class="glyphicon glyphicon-picture"></span>
                <p>Landscape</p>
            </label>
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Other"/>
                <span class="glyphicon glyphicon-question-sign"></span>
                <p>Other</p>
            </label>

        </div>
    </div>
</div>
</center>

  
  <div id="mapa-space"></div>

  <div id="mapa_div" class="col-md-8 col-md-offset-1">
    <div id="map" style='width: 100%; height: 100%;'></div>
  </div>


  <script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({
      provider: {
        zoom : 14,
        mapTypeId : google.maps.MapTypeId.ROADMAP,
      },
      internal: {
        id: 'map'
      }
    },
    function(){
    	markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    }
  );
  </script>

