

  <div class="jumbotron">
    <h1>Gallery</h1>
    <p class="lead">Lorem fistrum llevame al sircoo va usté muy cargadoo caballo blanco caballo negroorl por la gloria de mi madre pecador fistro de la pradera por la gloria de mi madre amatomaa. Benemeritaar de la pradera fistro ahorarr ahorarr va usté muy cargadoo te va a hasé pupitaa. Está la cosa muy malar ese hombree amatomaa diodenoo ese que llega apetecan no puedor te va a hasé pupitaa se calle ustée la caidita.</p>
  </div>


<div class="row">
	<% @images.each do |image| %>
			<div class="photo-container container col-md-6">
				<div class="row"> 
					<%= link_to image_tag(image.photo.url(:large)), user_image_path(image.user_id, image), class: "photo" %>
				</div>
				<div class="row">
					<%= image.title %>
				</div>
				<div class="row">
					<% user = User.find(image.user_id) %>
					Uploaded by <%= link_to(user.name, user_path(image.user_id)) %>
				</div>
			</div>
	<% end %>
</div>

