
  <div class="jumbotron">
    <h1>Gallery</h1>
    <p class="lead">Lorem fistrum llevame al sircoo va usté muy cargadoo caballo blanco caballo negroorl por la gloria de mi madre pecador fistro de la pradera por la gloria de mi madre amatomaa. Benemeritaar de la pradera fistro ahorarr ahorarr va usté muy cargadoo te va a hasé pupitaa. Está la cosa muy malar ese hombree amatomaa diodenoo ese que llega apetecan no puedor te va a hasé pupitaa se calle ustée la caidita.</p>
	</div>

<center>
    
    <div class="dropdown" id="filter-button">  
        <dt>
            <a class="btn btn-lg" href="#">
              <span class="hida">Choose a category to begin!</span>    
              <p class="multiSel"></p>  
            </a>
        </dt>
      
        <dd>
            <div class="multiselect">
                <ul>
                    <li>
                        <input type="checkbox" value="Bar" />Bar</li>
                    <li>
                        <input type="checkbox" value="Nature" />Nature</li>
                    <li>
                        <input type="checkbox" value="Monument" />Monument</li>
                    <li>
                        <input type="checkbox" value="Pretty" />Pretty</li>
                    <li>
                        <input type="checkbox" value="Other" />Other</li>
                </ul>
            </div>
        </dd>
      <button class="btn btn-lg" id="search-button">Filter</button>
    </div>
</center>



<div class="container photo-list">

	<% @images.each do |image| %>
			<div class="photo-container container col-md-4">
				<div class="row"> 
					<%= link_to image_tag(image.photo.url(:medium)), user_image_path(image.user_id, image), class: "img-thumbnail" %>
				</div>
				<div class="row title">
					<%= image.title %>
				</div>
				<div class="row">
					<% user = User.find(image.user_id) %>
					Uploaded by <%= link_to(user.name, user_path(image.user_id)) %>
				</div>
			</div>
	<% end %>
</div>


