
  <div class="jumbotron">
    <h1>Gallery</h1>
    <p class="lead"></p>
	</div>

<center>
<div class="container">
    <div class="well well-md text-center col-md-12">
        <h3>Select a theme to filter the pictures</h3>
        <div class="btn-group col-md-12" id="search-button" data-toggle="buttons">
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Monument" />
                <span class="glyphicon glyphicon-camera"></span>
                <p>Monument</p>
            </label>
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Natural" />
                <span class="glyphicon glyphicon-tree-deciduous"></span>
                <p>Natural</p>
            </label>
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Art"/>
                <span class="glyphicon glyphicon-blackboard"></span>
                <p>Art</p>
            </label>
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Entertainment"/>
                <span class="glyphicon glyphicon-glass"></span>
                <p>Entertainment</p>
            </label>
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Landscape"/>
                <span class="glyphicon glyphicon-picture"></span>
                <p>Landscape</p>
            </label>
            <label class="btn btn-success col-xs-4 col-md-2">
                <input type="checkbox" autocomplete="off" value="Other"/>
                <span class="glyphicon glyphicon-question-sign"></span>
                <p>Other</p>
            </label>

        </div>
    </div>
</div>
</center>

<div class="container photo-list">

    <% array = @images.sort { |a,b| b.likes <=> a.likes } %>
        <% array.each do |image| %>
    			<div class="photo-container container col-xs-12 col-sm-6 col-md-4">
    				<div class="row"> 
    					<%= link_to image_tag(image.photo.url(:medium)), user_image_path(image.user_id, image), class: "img-thumbnail" %>
    				</div>
    				<div class="row title">
    					<%= image.title %>
    				</div>
    				<div class="row">
    					<% user = User.find(image.user_id) %>
    					Uploaded by <%= link_to(user.name, user_path(image.user_id)) %>
    				</div>
    			</div>
    	<% end %>
</div>


