    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>    
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <div class="carousel-caption text-welcome">
                  <h1>Upload photos from your favourites places</h1>
                  <p>Lorem fistrum dolore a wan no puedor. Magna a peich nostrud está la cosa muy malar te va a hasé pupitaa se calle ustée. Ese que llega papaar papaar hasta luego Lucas ese hombree tiene musho peligro a peich incididunt diodenoo minim. Incididunt mamaar apetecan velit ese hombree. Commodo elit hasta luego Lucas a wan qué dise usteer tiene musho peligro aute incididunt te va a hasé pupitaa jarl se calle ustée.</p>
                  <p><%= link_to "Join us!", 'signup', class: "btn btn-lg btn-primary" %></p>
            </div>
            <img class="welcome-image" alt="First slide [1140x500]" src="http://www.mrwallpaper.com/wallpapers/Little-Village-1920x1200.jpg" data-holder-rendered="true">
          </div>

          <div class="item">
            <div class="carousel-caption text-welcome">
                  <h1>Rate the pictures of other users</h1>
                  <p>Lorem fistrum apetecan sexuarl jarl está la cosa muy malar a gramenawer hasta luego Lucas te voy a borrar el cerito hasta luego Lucas fistro al ataquerl. Apetecan hasta luego Lucas.</p>
                  <p><%= link_to "Log in", 'login', class: "btn btn-lg btn-primary" %></p>
            </div>
              <img class="welcome-image" alt="Second slide [1140x500]" src="http://www.wallpapersdb.org/wallpapers/world/nashville_usa_1920x1200.jpg" data-holder-rendered="true">
            </div>

            <div class="item">
              <div class="carousel-caption text-welcome">
                    <h1>Discover charming places around you</h1>
                    <p>Lorem fistrum se calle ustée te va a hasé pupitaa dolore ut por la gloria de mi madre eiusmod está la cosa muy malar. Ut de la pradera cillum aliquip te va a hasé pupitaa ese pedazo de llevame al sircoo quis pecador ese que llega.</p>
                    <p><%= link_to "See the gallery", 'photos', class: "btn btn-lg btn-primary" %></p>
              </div>
              <img class="welcome-image" alt="Third slide [1140x500]" src="http://blog.jooble.org/latam/wp-content/uploads/2015/02/ciudad-de-nueva-york_1920x1200_304.jpg" data-holder-rendered="true">
            </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>


